body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    }
    header {
    background-color: #222222;
    color: #fff;
    text-align: left;
    padding: 10px;
    height: 40px;
    justify-content: left;
    }

nav {
    display: flex;
    justify-content: left;
    background-color: #555;
    padding: 10px;
    }
nav button{
    color: #fff;
text-decoration: none;
padding: 5px 10px;
margin: 0 10px;
border: 1px solid #fff;
background-color: #555;
}
nav button:hover {
    background-color: #fff;
    color: #333;
    }

#email{
    justify-content: left;
    text-align: left;
    padding-left: 10px;
    color: #fff;
    padding-bottom: 10px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust this value to set the desired vertical alignment */
    overflow-y: auto;
}
.cont1{
    font-family: Arial, sans-serif;
    text-align: center;
}
.eredmeny{
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    
}

#map {
    
    height: 400px;
    width: 800px;
    padding: 15px, 0px, 0px, 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   }
   
   .mapcontent {
    font-weight: bold; 
    border: 2px solid #000; 
    padding: 5px;
    text-align: center;
    
   }
   